// Variables
$white: #FFFFFF;
$hover: #E0E0E0;
$primary: #212121;
$primary-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 4px 10px rgba(0, 0, 0, 0.12);

@import "../scss/utility/css-reset.scss";
@import "../scss/bootstrap/bootstrap-grid.scss";
@import "../scss/utility/rfs.scss";
@import "../scss/utility/font.scss";
@import "../scss/block/nav.scss";
@import "../scss/block/header.scss";
@import "../scss/block/footer.scss";
@import "../scss/block/btn.scss";
@import "../scss/block/form.scss";