doctype
html(lang="ru")
	head
		include jade/meta/services.jade
		// ⚠️ SEO ⚠️
		title …
		meta(name="description" content="…")
		meta(name="keywords" content="…")
		meta(name="robots" content="all")
		link(rel="canonical" href="…")
		include jade/meta/css.jade
		include jade/meta/web-master.jade
		include jade/meta/favicon.jade
		include jade/meta/copyright.jade
	body
		include jade/block/nav-main.jade
		header.header--fullscreen
		script(src="js/main.js")