doctype
html(lang="ru")
	head
		include ../jade/meta/services.jade
		// ⚠️ SEO ⚠️
		title …
		meta(name="description" content="…")
		meta(name="keywords" content="…")
		meta(name="robots" content="all")
		link(rel="canonical" href="…")
		include ../jade/meta/css.jade
		include ../jade/meta/web-master.jade
		include ../jade/meta/favicon.jade
		include ../jade/meta/copyright.jade
	body
		include ../jade/block/nav-light.jade
		.container.main
			.row
				.offset-md-3.col-md-9.col-10
					h1 Contact
					p We encourage you to contact the Burliuk Foundation with any questions or concerns you may have.  Please submit images of artwork directly to 
						a(href="mailto:theburliukfoundation@gmail.com" title="Send e-mail") theburliukfoundation@gmail.com
		include ../jade/block/footer.jade
		include ../jade/meta/js.jade