.navbar__wrapper
	.navbar.navbar__area
		a.navbar__brand(href="/") davidburliuk.org
		nav.navbar__list#navbar__list
			a.nabar__item(href="/about-the-foundation/") About us
			a.nabar__item(href="/authentication-registration-of-works/") Authentication & Registration
			a.nabar__item(href="/catalogue-raison/") Catalogue Raisonné
			a.nabar__item(href="/contact-the-foundation/") Contact
			a.nabar__item(href="/david-d-burliuk/") David D. Burliuk
			a.nabar__item.fb(href="#" title="Join us on Facebook")
		
		button.nabar__toggle(data-collapse data-target="#navbar__list")
			span.hamburger__icon