doctype
html(lang="ru")
	head
		include ../../jade/meta/services.jade
		// ⚠️ SEO ⚠️
		title …
		meta(name="description" content="…")
		meta(name="keywords" content="…")
		meta(name="robots" content="all")
		link(rel="canonical" href="…")
		include ../../jade/meta/css.jade
		include ../../jade/meta/web-master.jade
		include ../../jade/meta/favicon.jade
		include ../../jade/meta/copyright.jade
	body
		include ../../jade/block/nav.jade
		.container.main
			.row
				.offset-md-3.col-md-9.col-10
					h1 Image Gallery
					p Paintings by David D. Burliuk.
					.gallery
						.gallery_item
							a.image-link(href="http://via.placeholder.com/600x600")
								img(src="http://via.placeholder.com/600x600")
						.gallery_item
							a.image-link(href="http://via.placeholder.com/600x600")
								img(src="http://via.placeholder.com/600x600")
						.gallery_item
							a.image-link(href="http://via.placeholder.com/600x600")
								img(src="http://via.placeholder.com/600x600")
						.gallery_item
							a.image-link(href="http://via.placeholder.com/600x600")
								img(src="http://via.placeholder.com/600x600")
						.gallery_item
							a.image-link(href="http://via.placeholder.com/600x600")
								img(src="http://via.placeholder.com/600x600")
						.gallery_item
							a.image-link(href="http://via.placeholder.com/600x600")
								img(src="http://via.placeholder.com/600x600")
						.gallery_item
							a.image-link(href="http://via.placeholder.com/600x600")
								img(src="http://via.placeholder.com/600x600")
						.gallery_item
							a.image-link(href="http://via.placeholder.com/600x600")
								img(src="http://via.placeholder.com/600x600")
		include ../../jade/block/footer.jade
		include ../../jade/meta/js.jade
		script(src="../../js/jquery-3.2.1.slim.min.js")
		script(src="../../js/jquery.magnific-popup.min.js")
		script.
			$(document).ready(function() {
				$('.image-link').magnificPopup({type:'image'});
			});