$menu-height: 64px;

.navbar__wrapper {
	background-color: $primary;
	box-shadow: $primary-shadow;
	.navbar {
		justify-content: space-between;
	}
}

.navbar__area {
	align-items: stretch;
	display: flex;
	flex-flow: row wrap;
	margin-left: auto;
	margin-right: auto;
	@media (min-width: 576px) { width: 540px; }
	@media (min-width: 768px) {
		align-items: center;
		width: 720px;
	}
	@media (min-width: 992px) {
		width: 960px;
	}
	@media (min-width: 1200px) {
		width: 1140px;
	}
	a {
		color: $white;
		text-decoration: none;
	}
	.navbar__brand {
		align-self: center;
		color: $white;
		display: block;
		font-size: 16px;
		margin: round(($menu-height - 20) / 2);
	}
	.nabar__toggle {
		background-color: transparent;
		background-image: none;
		border: 0;
		cursor: pointer;
		display: inline-block;
		outline: none;
		padding: round(($menu-height - 20) / 2);
		text-align: center;
		touch-action: manipulation;
		vertical-align: middle;
		white-space: nowrap;
		user-select: none;
		&.-active .hamburger__icon {
			background-color: transparent;
			&::before {
				transform: translateY(7px) rotate(45deg);
			}
			&::after {
				transform: translateY(-8px) rotate(-45deg);
			}
		}
		@media (min-width: 768px) {
			display: none;
		}
		.hamburger__icon {
			position: relative;
			margin-top: 0.5rem;
			margin-bottom: 0.5rem;
			&,
			&::before,
			&::after {
				background-color: #FFFFFF;
				display: block;
				height: 2px;
				transition: background-color 0.1s linear, transform 0.1s linear;
				width: 1.5rem;
			}
			&::before, &::after {
				content: "";
				position: absolute;
			}
			&::before {
				top: -0.5rem;
			}
			&:after {
				top: 0.5rem;
			}
		}
	}
	.navbar__list {
		align-items: center;
		display: none;
		flex-flow: row nowrap;
		white-space: nowrap;
		@media (min-width: 768px) {
			display: flex;

		}
		@media (max-width: 768px) {
			background-color: $primary;
			box-shadow: $primary-shadow;
			left: 0;
			justify-content: center;
			overflow-y: hidden;
			overflow-x: auto;
			position: fixed;
			top: $menu-height - 2px;
			width: 100%;
		}
		@media (max-width: 576px) {
			justify-content: space-between;
		}
		&.-on {
			display: flex;
			z-index: 100;
		}
		.nabar__item {
			color: $white;
			display: block;
			height: $menu-height;
			flex-shrink: 0;
			font-size: 14px;
			line-height: $menu-height + 4px;
			padding-left: round(($menu-height - 20) / 2);
			padding-right: round(($menu-height - 20) / 2);
			position: relative;
			margin-bottom: 0;
			transition: color .2s linear;
			&.fb {
				background-image: url('/img/fb-white.svg');
				background-repeat: no-repeat;
				background-position: 50% 50%;
				&:hover {
					&::after {
						content: none;
					}
				}
			}
			&::after {
				content: "";
				border-bottom: 2px solid $hover;
				bottom: 0;
				left: 50%;
				position: absolute;
				transition: .2s ease-in-out;
				width: 0;
			}
			&:hover {
				color: $hover;
				&::after {
					content: "";
					border-bottom: 2px solid $hover;
					bottom: 0;
					left: 0;
					position: absolute;
					transition: .2s ease-in-out;
					width: 100%;
				}
			}
		}
	}
}